<?xml version="1.0" encoding="utf-8" ?>
<projects>
  <project>
    <name>EagleStrike</name>
    <version>0.3.02</version>
    <projectsource>C:\Users\Demo\Desktop\BuildDropTest\ProjectSource</projectsource>
    <source>C:\Users\Demo\Desktop\BuildDropTest\Projects\EagleStrike\EagleStrike.exe</source>
    <destination>C:\Users\Demo\Desktop\BuildDropTest</destination>
  </project>
</projects>